### Преобразование данных в Pandas

In [1]:
import pandas
import re
import sys

data = pandas.read_csv('titanic.csv', index_col='PassengerId')
index_col='PassengerId' #Задаем нумерацию строк данного дата фрейма
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### 1. Какое количество мужчин и женщин ехало на корабле? В качесвте ответа приведите два числа через пробел.

In [2]:
sex = data['Sex'].value_counts()
print(sex.male, sex.female)

577 314

#### 2.  Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [7]:
survived = data['Survived'].value_counts(sort = True)
print(survived)

0    549
1    342
Name: Survived, dtype: int64

In [8]:
print("{0:.0f}".format(survived[1]/(survived[0] + survived[1])*100))

38

#### 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [9]:
pclass = data['Pclass'].value_counts(sort = True)
print(pclass)

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [50]:
print("{0:.2f}".format(pclass[1]/(pclass[1] + pclass[2] + pclass[3])*100))

24.24

#### 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [54]:
mean_age = data['Age'].mean(skipna = None)
median_age = data['Age'].median(skipna = None)
print("{0:.0f}".format(mean_age), "{0:.0f}".format(median_age))

30 28

#### 5. Коррелируют ли число братьев/сестер с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [21]:
print("{:0.2f}".format(data['SibSp'].corr(data['Parch'], method ='pearson')))

0.41

#### 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [9]:
def clean_name(name):
    # Первое имя перед запятой -- фамилия
    s = re.search('^[^,]+, (.*)', name)
    if s:
        name = s.group(1)

    # Берем имя из скобок, если что-то есть в скобках
    s = re.search('\(([^)]+)\)', name)
    if s:
        name = s.group(1)

    # Убираем лишнее
    name = re.sub('(Miss\. |Mrs\. |Ms\. )', '', name)

    # Берем самое левое слово и убираем ковычки 
    name = name.split(' ')[0].replace('"', '')

    return name


names = data[data['Sex'] == 'female']['Name'].map(clean_name)
name_counts = names.value_counts()
name_counts.head()
#print(name_counts.head(1).index.values[0])
print(name_counts)

Mary         15
Anna         15
Elizabeth    11
Margaret     10
Alice         6
             ..
Gladys        1
Gertrude      1
Hanne         1
Helena        1
Gerda         1
Name: Name, Length: 178, dtype: int64